################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/WebApplication1/bin
/WebApplication1/libs
/WebApplication1/node_modules
/WebApplication1/obj
/WebApplication1/typings
/AngularSample/bin
/AngularSample/obj/Debug
